<style type="text/css" media="all">
  #instructions-link {
    color: black;
  }
</style>

<h1>How to Play</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h2>Controls</h2>

<p><img src="images/keys.svg" alt="A picture of the keyboard keys H, J, K and L." width="100%" /></p>

<p>You may have jumped into the game and tried to use the arrow keys, WASD or even a mouse to move around. If so, you will notice immediately: they don't work. Instead, the game is controlled using the keys H, J, K, and L. Why would I design a game that uses these keys? Because I am a programmer. </p>

<p>In the Linux world, Vi (or Vim) is one of the most famous, and infamous, text editors. Although it is possible to navigate using the arrow keys, the vast majority of the Vi community prefers HJKL because they are on the home row.  </p>

<p>The home row is the middle row of keys on your keyboard and the one on which touch typists rest their fingers. That's because, from the home row, a typer can reach all other keys very easily.  </p>

<p>It makes sense for text editors to use HJKL, but why a game? Many roguelike games, including the original, also use these keys for movement. Although new players may find them counter-intuitive, more experienced users report that it is more comfortable and convenient.  </p>

<p>Do not let this put you off; you will get used to them after the first three or four levels. If not, the feature to change to a more familiar set of keys is likely to become available in the near future.  </p>

<p>
  <button type="button" class="btn btn-outline-primary" onclick="window.location = '/play';">Start Playing</button>
</p>
