<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Mouse Trapped</title>

    <link rel="stylesheet" type="text/css" href="application.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

    <script src="jquery/js/jquery.js"></script>
    <script src="popper/js/popper.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Mouse Trapped</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a id="play-link" class="nav-link" href="/play">Play</a>
          </li>
          <li class="nav-item">
            <a id="instructions-link" class="nav-link" href="/instructions">Instructions</a>
          </li>
          <li class="nav-item">
            <a id="about-link" class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a id="contact-link" class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
