<style type="text/css" media="all">
  #play-link {
    color: #fff !important;
  }
</style>

<script src="phaser/js/phaser.js"></script>
<script src="game/main.js"></script>
<script src="game/tile.js"></script>
<script src="game/tiles/floor.js"></script>
<script src="game/tiles/barrier.js"></script>
<script src="game/map_generator.js"></script>
<script src="game/player.js"></script>
<script src="game/playing.js"></script>
<script src="game/main_menu.js"></script>

<div id="game-placeholder">
</div>
