#game-placeholder {
  position: absolute;
  top: 25%; left: 25%; bottom: 25%; right: 25%;

  background-color: red;
  border: #a00 2px solid;
}

#interactive-bg {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: -1;

  background: url('images/splash.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#splash-table {
  width: 100%;
  height: 100%;
  text-align: center;
  table-layout: fixed;
}

#splash-table > td {
  width: 50%;
}

#splash-table-left > h1{
  color: white;
  font-family: 'Avenir Next', 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 7vw;
  letter-spacing: 7pt;
  word-spacing: 9pt;
}

#splash-table-right > button {
  font-size: 1.5em;
  width: 50%;
  min-width: 8em;
  margin: 0.5em;
}
