<style type="text/css" media="all">
  #news-link {
    color: black;
  }
</style>

<% @news.reverse.each do |news| %>
  <div class="news-item">
    <%= render "show", news: news %>
  </div>
<% end %>
