<style type="text/css" media="all">
  #about-link {
    color: black;
  }
</style>

<h1>About the Game</h1>
<p>Mouse Trapped was originally developed for the BAFTA Young Game Designers competition, in which coders, artists and story writers design their own video games. They may either focus on the concept or actually produce the game. As you can see, we have done the latter.</p>

<p>In the game, you navigate the mouse around a set of mazes of rapidly increasing difficulty which appear to have no end. You receive no sympathy from the scientist, who barely acknowledges that you are any more important than a glass beaker. After all, if you break, he can always get a new one.</p>

<p>This game was not intended as a protest against animal testing. The conditions portrayed in this game are (to my knowledge) inaccurate; most scientists are nothing like the one encountered here.</p>

<p>Mouse Trapped was written in Phaser, an HTML 5 game framework using javascript. Find out more at the project’s <a href="https://github.com/12joan/mouse_trapped">GitHub page</a>.</p>

<p>
  <button type="button" class="btn btn-outline-primary" onclick="window.location = '/play';">Start Playing</button>
  <button type="button" class="btn btn-outline-success" onclick="window.location = '/instructions';">How to Play</button>
</p>

<h1>Supporting Video</h1>
<p>As part of the application, we had to produce a short video promoting the game. Here's the video we used. It features short clips from all our favourite levels, as well as a small insight into the story behind Mouse Trapped. Like the game itself, it includes original music and an excellent portrayal of the scientist by Paul Howlett.</p>

<p>
  <video style="width: 100%" controls>
    <source src="/videos/trailer.mp4" type="video/mp4">
  Your browser does not support embedded videos.
  </video>
</p>


<h1>About Us</h1>
<p>We are a team of two. One of us imagines the story and designs artwork and graphics, while the other codes the game and designs most of the levels. The voice of the scientist is portrayed by Paul Howlett. If you have any questions, suggestions or criticism that you would like to share, please follow the link below.</p>

<p>
  <button type="button" class="btn btn-outline-primary" onclick="window.location = '/contact';">Contact Us</button>
</p>

