<style type="text/css" media="all">
  #contact-link {
    color: black;
  }
</style>

<h1>Contact Us</h1>

<p>If you have any questions, suggestions or criticism that you would like to share, you can contact us at our email address, <a href="mailto:mousetrappedgame@gmail.com">mousetrappedgame@gmail.com</a>. If you are experiencing technical issues, such as sound and videos not playing properly, then you can register an issue at the project’s <a href="https://github.com/12joan/mouse_trapped">GitHub page</a>. </p>

<h2>Frequently Asked Questions</h2>

<b>Why are there only X levels?</b>

<p>The game is still under development, and we are constantly working on creating new levels and improving what we already have. If you enjoy the game, be sure to play regularly in case there is a new level available.</p>

<b>The game is too difficult! Is there an easier mode?</b>

<p>You are probably talking about the level with all the buttons. My advice is to take your time and use paper. I've seen people figure it out and complete it in under twenty minutes, so it is doable. </p>

<b>Why is the quality of the graphics so poor?</b>

<p>Most of the artwork currently present in the game is nothing more than a placeholder. We needed something quick to draw so that we could begin coding the game as soon as possible. We are in the middle of releasing some better tile images and cutscenes; be patient.</p>

<b>Have you considered making the game 3D?</b>

<p>The extra effort it would require is enormous. We wanted to focus on the quality of the story and puzzles rather than fancy graphics. </p>

<b>Will the game work on mobile devices?</b>

<p>Probably not. At the moment, the only way of moving the mouse is with a keyboard, and it is not practical to do this on a small screen with a virtual keyboard. In theory, we could probably enable swipe-to-move, or even port the game to an iOS app, but we're not going to.</p>
