<style type="text/css" media="all">
  #contact-link {
    color: black;
  }
</style>

<h1>Contact Us</h1>

<p>If you have any questions, suggestions or criticism that you would like to share, you can contact us at our email address, <a href="mailto:mousetrappedgame@gmail.com">mousetrappedgame@gmail.com</a>. If you are experiencing technical issues, such as sound and videos not playing properly, then you can register an issue at the project’s <a href="https://github.com/12joan/mouse_trapped">GitHub page</a>. </p>

<h2>Frequently Asked Questions</h2>

<b>What are the level codes between the levels?</b>

<p>When you complete a level, you will receive a level code with which you can skip to that level again in the future. On the main menu, you can click Resume and type in your level code there. Alternatively, you can use a level code from anywhere by pressing the Q key in the middle of a level.</p>

<p>Unless you have a good memory, make sure you write down the level codes for levels that you have enjoyed or may wish to go back to in the future.</p>

<b>The game is too difficult! Is there an easier mode?</b>

<p>You're probably talking about the level with all the buttons. Watch the sparkles, and you'll be fine. </p>

<b>Have you considered making the game 3D?</b>

<p>The extra effort it would require is enormous. We wanted to focus on the quality of the story and puzzles rather than fancy graphics. </p>

<b>Will the game work on mobile devices?</b>

<p>Probably not. At the moment, the only way of moving the mouse is with a keyboard, and it is not practical to do this on a small screen with a virtual keyboard. In theory, we could probably enable swipe-to-move, or even port the game to an iOS app, but we're not going to.</p>

<b>Why does the game freeze when a cutscene starts?</b>

<p>Your browser might be intentionally preventing the video from playing. Check to see whether Auto-Play is blocked and disable it if necessary. If that doesn't help, you might have discovered an actual bug. Please tell us all about it.</p>

