<h1>You win!</h1>

<p>You’ve arrived at this page because you’ve reached the end of Mouse Trapped. Either that or you’ve stumbled onto this page by accident, but the former is more likely. You’re now surely wondering what you can do next. There are a few choices. </p>

<b>Find the other two endings</b>
<p>How did you end the game? You probably ran straight for the cheese and ended up here. There are two other endings that branch off from that last level. See whether you can find them. Use the level code 'endings' to revisit that level now and have a go. </p>

<b>Play the game again</b>
<p>If you’ve already taken the time to find all three endings, then you must have really enjoyed the game. Why not play through it again from the beginning? Or perhaps use the level codes to skip ahead to the mazes you liked the most and play them again. </p>

<b>Wait for more levels</b>
<p>If you now know all the levels back to front and are looking for something else to do, then I’m afraid you’ll just have to wait. Mouse Trapped is still under development, and there is every possibility that we’ll release more levels in the immediate future. Don’t forget to subscribe to email notifications under Notify Me so that you’ll be informed about future levels. Meanwhile…</p>

<b>Give us some feedback</b>
<p>We’re much more likely to develop new levels if we hear back from some of our users. Tell us what you enjoyed, what you didn’t, and what you want to see more of. Our email address is available in the Contact Us section. </p>

<p>Thanks for playing!</p>

<p>
  <button type="button" class="btn btn-outline-primary" onclick="window.location = '/play';">Play Again</button>
  <button type="button" class="btn btn-outline-success" onclick="window.location = '/notifyme';">Notify Me</button>
  <button type="button" class="btn btn-outline-info" onclick="window.location = '/contact';">Contact Us</button>
</p>

<style type="text/css" media="all">
#world {
  position: absolute;
  top: 0; 
  left: 0;
  z-index: -1;
}
</style>

<canvas id="world">
</canvas>

<script src="https://codepen.io/linrock/pen/Amdhr.js" async>
  // Credit to Linmiao Xu for this excellent code pen!
</script>

<script charset="utf-8">
  setTimeout(function () {
    $('#world').fadeOut(5000);
  }, 5000);
</script>
