<style type="text/css" media="all">
  #instructions-link {
    color: black;
  }
</style>

<h1>How to Play</h1>

<p>As the first level says, use WASD, HJKL or the arrow keys to move the mouse and reach the cheese (which is currently represented by the green square). You can only move through barriers when they turn to face you. When dealing with buttons, keep in mind that you can only activate them by moving onto them, and it is impossible to avoid doing so. There are other game elements that you need to worry about, but the game will introduce them to you when they are first used. </p>

<p>The levels are not timed, so play slowly when you need to. You can't make a level impossible to solve by doing something stupid, so just try things out if you're stuck. Don't forget to read the text at the bottom of the screen in each level - it represents the scientist talking to you, and you don't want to miss what he says.</p>

<p>
  <button type="button" class="btn btn-outline-primary" onclick="window.location = '/play';">Start Playing</button>
</p>
