<style type="text/css" media="all">
  #play-link {
    color: #fff !important;
  }
</style>

<script src="phaser/js/phaser.js"></script>
<script src="game/audio.js"></script>
<script src="game/resize.js"></script>
<script src="game/main.js"></script>
<script src="game/boot.js"></script>
<script src="game/preloader.js"></script>
<script src="game/tile.js"></script>
<script src="game/mixins.js"></script>
<script src="game/tiles/togglable.js"></script>
<script src="game/tiles/game_ender.js"></script>
<script src="game/tiles/floor.js"></script>
<script src="game/tiles/barrier.js"></script>
<script src="game/tiles/cheese.js"></script>
<script src="game/tiles/rotating_barrier.js"></script>
<script src="game/tiles/button.js"></script>
<script src="game/tiles/toggled_barrier.js"></script>
<script src="game/tiles/push_barrier.js"></script>
<script src="game/tiles/hole.js"></script>
<script src="game/tiles/toggled_hole.js"></script>
<script src="game/tiles/escape_floor.js"></script>
<script src="game/tiles/escape_hole.js"></script>
<script src="game/tiles/escape_cheese.js"></script>
<script src="game/map_generator.js"></script>
<script src="game/sparkle_generator.js"></script>
<script src="game/sparkle.js"></script>
<script src="game/creature_generator.js"></script>
<script src="game/fade.js"></script>
<script src="game/cutscene.js"></script>
<script src="game/creature.js"></script>
<script src="game/mouse.js"></script>
<script src="game/cat.js"></script>
<script src="game/bolt.js"></script>
<script src="game/tesla_coil.js"></script>
<script src="game/revolving_tesla.js"></script>
<script src="game/barrier_tesla.js"></script>
<script src="game/pathfinder.js"></script>
<script src="game/position.js"></script>
<script src="game/playing.js"></script>
<script src="game/death.js"></script>
<script src="game/menu.js"></script>

<script charset="utf-8">
  console.log("--------------------------------------------------------------------------------");
  console.log("Are you trying to cheat? It is certainly possible, but don't you think that it  ");
  console.log("would take the fun out of the game? If you want to play something a bit easier, ");
  console.log("then I recommend you go elsewhere.                                              ");
  console.log("                                                                                ");
  console.log("Or perhaps you are simply interested in the source code? In that case, look     ");
  console.log("at the GitHub page for the game. http://github.com/12joan/mouse_trapped         ");
  console.log("                                                                                ");
  console.log("In either case, have fun!                                                       ");
  console.log("--------------------------------------------------------------------------------");
</script>

<div id="levelport-container">
  <div id="levelport-window">
    <input type="hidden" id="levelport-from-start" />
    <p>
      <h1>Levelport</h1>
    </p>
    <p>
      <input class="form-control" type="text" id="levelport-code" placeholder="Level code" />
    </p>
    <p id="levelport-error"></p>
    <p style="display: block; height: 3em;">
      <button class="btn btn-primary btn-lg" style="width: 45%; float: left;" type="button" id="levelport-cancel">Cancel</button>
      <button class="btn btn-success btn-lg" style="width: 45%; float: right;" type="button" id="levelport-submit">Levelport</button>
    </p>
    <% unless @level_codes.empty? %>
      <hr />
      <ul style="list-style-type: none; padding-left: 0; columns: 2; text-align: center; width: 100%;">
        <% @level_codes.each do |code| %>
          <li><a data-code="<%= code %>" class="levelport-link" href="#"><%= code %></a></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="container mc-wrapper">
  <button onclick="toggle_mc()" class="btn btn-success">Mobile Compatibility: <b id="mc-status">OFF</b></button>

  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-music" aria-hidden="true"></span>
    </button>
    <div class="dropdown-menu" id="audio-settings">
      <a class="dropdown-item active-tick" id="music" href="#">Music</a>
      <a class="dropdown-item active-tick" id="sounds" href="#">Sounds</a>
    </div>
  </div>
</div>

<div id="game-buttons">
  <div class="game-button-row">
  </div>
  <div class="game-button-row">
    <div class="game-button game-button-left">
      <button class="arrow-button" id="up-arrow">
        <img src="images/arrow_up.svg" alt="" />
      </button>
    </div>
    <div class="game-button game-button-right">
      <button class="arrow-button" id="left-arrow">
        <img src="images/arrow_left.svg" alt="" />
      </button>
    </div>
  </div>
  <div class="game-button-row">
    <div class="game-button game-button-left">
      <button class="arrow-button" id="down-arrow">
        <img src="images/arrow_down.svg" alt="" />
      </button>
    </div>
    <div class="game-button game-button-right">
      <button class="arrow-button" id="right-arrow">
        <img src="images/arrow_right.svg" alt="" />
      </button>
    </div>
  </div>
  <div class="game-button-row">
  </div>
</div>

<div id="game-container">
  <div id="dummy">
  </div>
</div>

<div id="cutscene-container">
</div>

<div id="message">
</div>
