<style type="text/css" media="all">
  #play-link {
    color: #fff !important;
  }
</style>

<script src="phaser/js/phaser.js"></script>
<script src="game/main.js"></script>
<script src="game/preloader.js"></script>
<script src="game/tile.js"></script>
<script src="game/tiles/floor.js"></script>
<script src="game/tiles/barrier.js"></script>
<script src="game/tiles/end.js"></script>
<script src="game/tiles/rotating_barrier.js"></script>
<script src="game/tiles/button.js"></script>
<script src="game/tiles/toggled_barrier.js"></script>
<script src="game/tiles/push_barrier.js"></script>
<script src="game/tiles/hole.js"></script>
<script src="game/map_generator.js"></script>
<script src="game/creature_generator.js"></script>
<script src="game/fade.js"></script>
<script src="game/cutscene.js"></script>
<script src="game/creature.js"></script>
<script src="game/mouse.js"></script>
<script src="game/playing.js"></script>
<script src="game/menu.js"></script>

<script charset="utf-8">
  console.log("--------------------------------------------------------------------------------");
  console.log("Are you trying to cheat? It is certainly possible, but don't you think that it  ");
  console.log("would take the fun out of the game? If you want to play something a bit easier, ");
  console.log("then I recommend you go elsewhere.                                              ");
  console.log("                                                                                ");
  console.log("Or perhaps you are simply interested in the source code? In that case, look     ");
  console.log("at the GitHub page for the game. http://github.com/12joan/mouse_trapped         ");
  console.log("                                                                                ");
  console.log("In either case, have fun!                                                       ");
  console.log("--------------------------------------------------------------------------------");

  $(window).bind('beforeunload', function(){
    return 'Are you sure you want to leave?';
  });
</script>

<div id="message">
</div>
