<style type="text/css" media="all">
  #privacy-link {
    color: black;
  }
</style>

<h1>Privacy Policy</h1>

<h2>Google Analytics</h2>

<p>If you write a book, you want to know how well it sells. Writing a website is no different. Mouse Trapped uses <a href="https://www.google.com/analytics/">Google Analytics</a> to track data about how many people are using it, which websites are linking to us, the pages that are most popular and many other details.</p>

<p>All of this data helps us to improve the website for you and other users. For more information, see the Google Analytics <a href="https://www.google.com/analytics/terms/us.html">Terms of Service</a>. You can opt out of Analytics on all websites by installing <a href=https://tools.google.com/dlpage/gaoptout">Google’s browser add-on</a>. </p>

<h2>Cookies</h2>

<p>Incidentally, we also use cookies to facilitate this tracking and to provide other services. If you’re concerned by this, make sure you understand what a cookie is. You probably won’t be worried by the end of your research. If you really want to opt out of cookies, you can turn them off in your browser settings, although we don’t recommend this.</p>
