<div id="splash-container">
  <div class="row row-flex" id="splash-stuff">
    <div class="col">
      <div class="panel panel-default flex-col" id="splash-title">
        <h1>MOUSE<br />TRAPPED</h1>
      </div>
    </div>

    <div class="col" id="splash-buttons">
        <button type="button" class="btn btn-primary" onclick="window.location = '/play';">Start Playing</button>
        <button type="button" class="btn btn-success" onclick="window.location = '/about';">About the Game</button>
    </div>
  </div>
</div>
