<h1>You Have Unsubscribed</h1>

<p>
  We will no longer send you any emails. 
</p>

<p>
  <button type="button" class="btn btn-outline-primary" onclick="window.location = '/play';">Start Playing</button>
</p>
