<style type="text/css" media="all">
  #notify-link {
    color: black;
  }
</style>

<h1>Notify Me</h1>

<p>Although we have already sumbitted the game's application to the Young Game Designers competition, development is by no means finished. It is entirely possible that we will release another level, upload a new cutscene or make an improvement to the graphics in the future. Enter your email address here to receive notifications when we make such an improvement. You can unsubscribe at any time using the link in one of the emails.</p>

<div id="subscription-form">
  <%= render 'form', subscription: @subscription %>
  <div id="success-box" class="msg-box">
    <h2>You're Subscribed</h2>
    <p>We will now notify you when something interesting happens.</p>
  </div>
  <div id="error-box" class="msg-box">
    <h2>Something Went Wrong</h2>
    <p>You might already be subscribed, or perhaps the internet connection has dropped.</p>
  </div>
</div>

<p>
  <button type="button" class="btn btn-outline-primary" onclick="window.location = '/play';">Start Playing</button>
</p>
