<style type="text/css" media="all">
  #notify-link {
    color: black;
  }
</style>

<h1>Notify Me</h1>

<p>Although the 2018 Young Game Designers competition has now closed, we are still working on a few additional features and content. To receive notifications about any future developments to Mouse Trapped, enter your email address below. You can unsubscribe at any time using the link in one of the emails.</p>

<div id="subscription-box">
  <%= render 'form', subscription: @subscription %>
  <div id="success-box" class="msg-box">
    <h2>You're Subscribed</h2>
    <p>We will now notify you when something interesting happens.</p>
  </div>
  <div id="error-box" class="msg-box">
    <h2>Something Went Wrong</h2>
    <p>You might already be subscribed, or perhaps the internet connection has dropped.</p>
  </div>
</div>

<p>
  <button type="button" class="btn btn-outline-primary" onclick="window.location = '/play';">Start Playing</button>
</p>
