<style type="text/css" media="all">
  #notify-link {
    color: black;
  }
</style>

<h1>Notify Me</h1>

<p>The game is still under development, and new levels and other improvements are made frequently. Enter your email address here to receive notifications when a new level becomes available or when we make another large improvement to the game. You can unsubscribe at any time using the link in one of the emails.</p>

<p>If you found out about this game from another player, they may have given you a seven-digit code. If you're feeling nice, please type this code in along with your email address to give your friend easy access to the latest levels. Whether you do so or not will have no effect on your own gameplay.</p>

<div id="subscription-form">
  <%= render 'form', subscription: @subscription %>
  <div id="success-box" class="msg-box">
    <h2>You're Subscribed</h2>
    <p>We will now notify you when something interesting happens.</p>
  </div>
  <div id="error-box" class="msg-box">
    <h2>Something Went Wrong</h2>
    <p>You might already be subscribed, or perhaps the internet connection has dropped.</p>
  </div>
</div>

<p>
  <button type="button" class="btn btn-outline-primary" onclick="window.location = '/play';">Start Playing</button>
</p>
