<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>We've changed the way you skip levels</h3>
    <p>
      You may have discovered that you can skip between Mouse Trapped levels by pressing 'Q' and typing the identifier of the next level. This was originally intended as a debugging feature, and we did not expect it to remain in the final game.
    </p>
    <p>
      We want to let as many people as possible know about Mouse Trapped, and the quickest way of achieving that is if everyone helps to spread the word. That's why we have introduced a new level skipping system.
    </p>
    <p>
      Whenever we release a new level, we will give you a seven-digit code that you can give to one person whom you would like to invite to the game. If that person subscribes to email notifications using that code, you will get an email containing another code, which you can use to skip to that level in the future.
    </p>
    <p>
      Other than that, the skipping system will work in roughly the same way: from any level, you can press 'Q' from any level and type in the identifier of the level that you would like to skip to.
    </p>
    <p>
      We are giving out codes for all existing levels for free, but you will have to earn the rest when they come along. 
    </p>
    <ul>
       <li>b4918864</li>
       <li>cd856b80</li>
       <li>ab166624</li>
       <li>2d1593ab</li>
       <li>e4452218</li>
       <li>0391e57c</li>
       <li>9f24211f</li>
       <li>6db47fe3</li>
       <li>3f788782</li>
       <li>196c25a3</li>
       <li>05b597d0</li>
       <li>7385b228</li>
    </ul>
    <p>
      You should probably write those down somewhere.
    </p>
    <p>
      Unlike many automated emails, this is not from a no-reply address. There are actual, real humans just a Reply button away, so why not show your appreciation, express your discontent or query our brains with some feedback. The more positive reviews we get, the more motivated we will be to design new levels and artwork; the more useful criticism we receive, the better this content will become. 
    </p>
    <p>
    If you would prefer not to receive these emails, please <a href="<%= @unsubscribe_url  %>">click here</a>.
    </p>
  </body>
</html>
