<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You invited a friend to play Mouse Trapped</h3>
    <p>
      Thank you for helping spread the word about our game. As promised, here is the code to access the latest level. 
    </p>
    <pre>
      <%= @level_code.code %>
    </pre>
    <p>
      To access the level, press 'Q' on the first level of the game and type in the code above. Have fun, and don't forget to tell us what you think. 
    </p>
    <p>
      Unlike many automated emails, this is not from a no-reply address. There are actual, real humans just a Reply button away, so why not show your appreciation, express your discontent or query our brains with some feedback. The more positive reviews we get, the more motivated we will be to design new levels and artwork; the more useful criticism we receive, the better this content will become. 
    </p>
    <p>
      You're receiving this because you subscribed to email notifications about new levels and other important milestones in Mouse Trapped's developmet. If you would prefer not to receive these emails, please <a href="<%= @unsubscribe_url  %>">click here</a>.
    </p>
  </body>
</html>
