<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>We've released a new level of Mouse Trapped!</h3>
    <p>
      There's a new level of Mouse Trapped online and ready to play. Be one of the first to have a go and perhaps tell us what you think.
    </p>
    <p>Here is your code for the new level. To use it, start the game on level 1 and press Q. Type the code into the dialogue box that appears and you will be taken to the new level.</p>
    <pre>
      <%= @level_code.code %>
    </pre>
    <p>
      Unlike many automated emails, this is not from a no-reply address. There are actual, real humans just a Reply button away, so why not show your appreciation, express your discontent or query our brains with some feedback. The more positive reviews we get, the more motivated we will be to design new levels and artwork; the more useful criticism we receive, the better this content will become. 
    </p>
    <p>
      You're receiving this because you subscribed to email notifications about new levels and other important milestones in Mouse Trapped's developmet. If you would prefer not to receive these emails, please <a href="<%= @unsubscribe_url  %>">click here</a>.
    </p>
  </body>
</html>
