<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You're subscribed to Mouse Trapped updates</h3>
    <p>
      Hello. You have successfully subscribed to updates about Mouse Trapped. 
    </p>
    <p>
      From now on, we'll email you every time we release a new level, or make any other notable change to the game. This could include an improvement to the artwork, a new cutscene to add to the story or anything else we think of in the future.
    </p>
    <p>
      To start playing, <a href="http://www.mousetrapped.co.uk/play">click here</a>.
    </p>
    <p>
      Unlike many automated emails, this is not from a no-reply address. There are actual, real humans just a Reply button away, so why not show your appreciation, express your discontent or query our brains with some feedback. The more positive reviews we get, the more motivated we will be to design new levels and artwork; the more useful criticism we receive, the better this content will become. 
    </p>
    <p>
    If you would prefer not to receive these emails, please <a href="<%= @unsubscribe_url  %>">click here</a>.
    </p>
  </body>
</html>
