// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-item {
  background-color: rgb(253, 253, 253);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  border-radius: 3px; 
  padding: 0.4em;
  padding-top: 0.7em;
  margin-top: 1em;
  border-radius: 5px;
}

.news-item:hover {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4);
}
