// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#subscription-box {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: #eee;

  input[type=email] {
    width: 100%;
    height: 2.5em;
  }

  .actions {
    margin-top: 0.5em;
    text-align: right;
  }

  form {
    margin: 0;
  }
}

.msg-box {
  text-align: center; 
  width: 100%;
  color: #555;
  display:table-cell;
  vertical-align:middle;
}
