<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Mouse Trapped is a free online game in which the player navigates the mouse around a series of mazes of rapidly increasing difficulty. You receive no sympathy from the scientist, who barely acknowledges that you are any more important than a glass beaker. After all, if you break, he can always get a new one.">
    <meta name="keywords" content="Mouse Trapped,Game,BAFTA,YGD">

    <title>Mouse Trapped</title>

    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', async: true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#0090ff">
    <meta name="theme-color" content="#0090ff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115612357-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115612357-1', {'siteSpeedSampleRate': 99});
    </script>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://www.mousetrapped.co.uk",
      "name": "Mouse Trapped",
      "sameAs": [
       "https://www.facebook.com/OfficialMouseTrapped/"
      ]
    }
    </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Mouse Trapped</a>
      <div class="navbar-header">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: white;"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a id="play-link" class="nav-link" href="/play">Play</a>
          </li>
          <li class="nav-item">
            <a id="instructions-link" class="nav-link" href="/instructions">Instructions</a>
          </li>
          <li class="nav-item">
            <a id="about-link" class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a id="contact-link" class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a id="news-link" class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a id="notify-link" class="nav-link" href="/notifyme">Notify Me</a>
          </li>
          <li class="nav-item">
            <a id="privacy-link" class="nav-link" href="/privacy">Privacy Policy</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="brand-icons">
          <li>
            <a href="http://facebook.com/OfficialMouseTrapped/"><i class="fa fa-facebook-square" style="font-size:36px"></i></a>
          </li>
          <li>
            <a href="http://github.com/12joan/mouse_trapped/"><i class="fa fa-github-square" style="font-size:36px"></i></a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield :content %>
  </body>
</html>
