<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Free online game">
    <meta name="keywords" content="Mouse Trapped,Free online game,HTML JavaScript game">

    <title>Mouse Trapped</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115612357-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115612357-1');
    </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Mouse Trapped</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a id="play-link" class="nav-link" href="/play">Play</a>
          </li>
          <li class="nav-item">
            <a id="instructions-link" class="nav-link" href="/instructions">Instructions</a>
          </li>
          <li class="nav-item">
            <a id="about-link" class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a id="contact-link" class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a id="notify-link" class="nav-link" href="/notifyme">Notify Me</a>
          </li>
          <li class="nav-item">
            <a id="privacy-link" class="nav-link" href="/privacy">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield :content %>
  </body>
</html>
