<style type="text/css" media="all">
  nav {
    background-color: #343a40 !important;
  }

  nav * {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  nav * :hover, .navbar-brand {
    color: #fff !important;
  }

  body {
    background: rgb(0, 144, 255) !important;
  }

  @media (hover: hover) {
    #mobile-warning { display: none; }
  }
    
  @media (hover: none) {
    #mobile-warning { display: inherit; }
  }

  #mobile-warning {
    background-color: orange;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
</style>

<% content_for :content do %>
  <div id="bg-holder" class="interactive-bg"></div>
  <div id="mobile-warning">
    <b>Warning</b> This game is not suitable for mobile devices. To play, please use a device with a physical keyboard. 
  </div>
  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>

<script charset="utf-8">
window.addEventListener("load",function(event) {
  var img = $('<img/>')[0];
  var img_path = "<%= image_path('splash.png') %>";
  img.src = img_path;
  $(img).one("load", function() {
    $('#bg-holder').hide();
    $('#bg-holder').css('background-image', "url(\'" + img_path + "\')");
    $('#bg-holder').fadeIn(1000);
    $({blurRadius: 50}).animate({blurRadius: 0}, {
      duration: 3000,
      easing: 'linear', 
      step: function() {
        $('#bg-holder').css({
          "-webkit-filter": "blur("+this.blurRadius+"px)",
          "filter": "blur("+this.blurRadius+"px)"
        });
      }
    });
  }).each(function() {
    if(this.complete) $(this).load();
  });
}, false);
</script>

