<style type="text/css" media="all">
  nav {
    background-color: #343a40 !important;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }

  nav * {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  nav * :hover, .navbar-brand {
    color: #fff !important;
  }

  body {
    background: rgb(0, 144, 255) !important;
  }

  @media (hover: hover) {
    #mobile-warning { display: none; }
  }
    
  @media (hover: none) {
    #mobile-warning { display: inherit; }
  }

  #mobile-warning {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
</style>

<% content_for :content do %>
  <div id="bg-holder" class="interactive-bg"></div>
  <div id="mobile-warning" class="alert alert-info alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <b>Warning</b> Support for mobile devices is limited. See the FAQ section under "Contact Us" for more details. 
  </div>
  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>

<script charset="utf-8">
window.addEventListener("load",function(event) {
  var img = $('<img/>')[0];
  var img_path = "<%= image_path('splash.png') %>";
  img.src = img_path;
  $(img).one("load", function() {
    $('#bg-holder').hide();
    $('#bg-holder').css('background-image', "url(\'" + img_path + "\')");
    $('#bg-holder').fadeIn(1000);
    $({blurRadius: 50}).animate({blurRadius: 0}, {
      duration: 3000,
      easing: 'linear', 
      step: function() {
        $('#bg-holder').css({
          "-webkit-filter": "blur("+this.blurRadius+"px)",
          "filter": "blur("+this.blurRadius+"px)"
        });
      }
    });
  }).each(function() {
    if(this.complete) $(this).load();
  });
}, false);
</script>

