<style type="text/css" media="all">
  nav {
    background-color: #343a40 !important;
  }

  nav * {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  nav * :hover, .navbar-brand {
    color: #fff !important;
  }
</style>

<% content_for :content do %>
  <div id="interactive-bg"></div>
  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>
